<!-- views/signup.ejs -->
<!doctype html>
<html>
<head>
	<title></title>
</head>
<body>

	<h1> 注册一个项目</h1>

	<!-- show any messages that come back with authentication -->


	<!-- LOGIN FORM -->
	<form method="post">
		<div >
			<label>wechat</label>
			<input type="text"  name="wechat_link">
		</div>
		<div >
			<label>ios</label>
			<input type="text" name="ios_link">
		</div>
		<div >
			<label>用户名email</label>
			<input type="text"  name="user_email">
		</div>

		<button type="submit" >注册</button>
	</form>

<!-- 
	<p>已注册？ <a href="/login">登录</a></p>
	<p>或者去 <a href="/">主页</a>.</p> -->

</body>
</html>
